.list {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 20px;
    padding: 20px;
    border-bottom: 2px solid #ddd;
    align-items: center;
}

.list--done {
    text-decoration: line-through;
}
    